@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins:wght@300&display=swap');


@media only screen and (max-width: 600px) {

    
     *{
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
    
    }
    
    body {
        margin: 0px;
        width: 100vw;
        height: 100vh;
        padding: 0px;
        
    }
    
    header {
    
        background-color: #000000;
        
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 70px;
        width: 100vw;
        height: 150px;
        border-bottom: solid 5px #58ff8a;
        box-shadow: 0px 0px 20px #58ff8a;
        left: 50%;
        
    
    }
    
    header > img {
    
        width: 150px;
        height: 150px;
    
    }
    
    .navegaçao-primaria {
    
        display: flex;
        align-items: center;
        gap: 5px;
    
    }
    
    .navegaçao-primaria > li > a {
    
        text-decoration: none;
        font-size: 15px;
        padding: 10px;
        color: white;
        font-family: 'poppins', sans-serif;
        transition: 0.5s;
    
    }
    
    .navegaçao-primaria > li > a:hover {
    
        text-decoration: underline #58ff8a;
        
    
    }
    
    .section-div{
    
        animation: inicializar .7s forwards;
        animation-timing-function: ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Poppins', sans-serif;
        transition: 0.7s;
        width: 500px;
        height: 200px;
        
    }

    .eu {
        font-size: 20px;
        width: 200px;
        height: 100px;
        top: 10%;
        left: 60%;
       
        position: absolute;
        
    }

    .digitando {

    font-size: 20px;
    position: absolute;
    left: 60%;

    }
    
    
    .section-div > img {
        width: 200px;
        height: 200px;
        position: absolute;

        right: 200px;
        
    }
    
    
    
    .cv {
    
        border: solid 2px #58ff8a;
        background-color: #000000;
        padding: 10px;
        position: absolute;
        border-radius: 30px;
        color: rgb(255, 255, 255);
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
        font-size: 15px;
        width: 35%;
        left: 250px;
        top: 220px;
    
        transform: translateY(20px);
    
    }
    
    .botao {
    
        border: solid 2px #58ff8a;
        background-color: #000000;
        padding: 10px;
        border-radius: 30px;
        color: rgb(255, 255, 255);
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
        position: absolute;
        
        height: 48px;
        width: 150px;
        margin-right: 10px;
        font-size: 15px;
        cursor: pointer;
        left: 80px;
        top: 220px;
        transform: translateY(20px);
    
    }
    
    .botao:hover {
        box-shadow: 2px 2px 2px black;
    
    }
    
    .cv:hover {
        box-shadow: 2px 2px 2px black;
       
    }
    
    @keyframes inicializar {
        from {
    
            opacity: 0;
            transform: translate3d(0, -60px, 0);
        }
    
        to {
    
            opacity: 1;
            transform: translate3d(0, 0, 0);
    
        }
    
    
    }
    
    .digitando::after {
    
        content: '|';
        
        opacity: 1;
        animation: pisca .5s infinite;
    
    }
    
    @keyframes pisca {
        from {
    
            opacity: 1;
        }
    
        to {
    
            opacity: 0;
    
        }
    
    
    }
    
    .linha {
    
        border-bottom: solid 2px #2b134b;
    
        height: 100px;
        width: 450px;
        opacity: 0.5;
        position: static;
        margin-left: 30px;
        margin-top: 20px;
    }
    
    .projetos > h2 {
    
    font-family: 'noto sans', sans-serif;
    font-weight: bolder;
    font-size: 30px;
    margin-top: 50px;
    justify-content: center;
    
    
    
    }
    
    .projetos > h2::after {
    
        position: absolute;
        content: '';
        width: 20%;
        background-color: #2b134b;
        height: 5px;
        display: block;
        transform: translate(2px, -5px);
        border-radius: 30px;
        margin-top: 5px;
        
        }
    
        .layout > img{
    
            margin-top: 50px;
            width: 300px;
            height: 200px;
        }
    
        .layout {
            
            
            display: flex;
            margin: 0px auto;
            width: 100vw;
            margin-bottom: 100px;
            flex-direction: column;
            align-items: flex-end;
            
    
        }
    
        .texto {
    
        
            flex-direction: column;
            align-items: flex-start;
            display: flex;
            width: 100%;
    
    
            
            
        }
    
        .texto > p {
            
            font-family: 'Poppins', 'sans-serif';
            margin-bottom: 20px;
            margin-left: 60px;
            width: 100vw;
        
        
        }
    
        .texto > h2 {
    
            font-family: 'noto sans', 'sans-serif';
            font-weight: bolder;
            position: absolute;
            transform: translate(225px,-320px);
        }
    
        .texto > aside {
    
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 45%;
            top: -15%;
            font-size: 40px;
            gap: 30px;
            color: #2b134b;
        }
    
        .texto > aside > i#html:hover {
    
    
            transform: scale(1.1);
    
        }
    
        .texto > aside >i#css:hover {
    
    
            transform: scale(1.1);
    
        }
    
        .texto > aside >i#javascript:hover {
    
    
            transform: scale(1.1);
    
        }
        
        footer {
    

            display: none;

    
        }
    
        footer > nav > h2 {
    
            color: rgb(255, 255, 255);
            font-family: 'noto sans', 'sans-serif';
    
        }
    
        footer > nav > h2::after {
    
            content: '';
            background-color: #58ff8a;
            width: 25%;
            height: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 30px;
            
        }
    
    
        .navegaçao-secundaria > li > a {
    
            color: rgb(202, 202, 202);
            text-decoration: none;
            list-style: circle;
            margin-top: 30px;
        }
    
        .navegaçao-secundaria > li > a:hover {
    
            text-decoration: underline #58ff8a;
        }
    
        .navegaçao-secundaria > li {
    
            color: white;
            text-decoration: none;
            margin-top: 5px;
            font-family: 'poppins', 'sans-serif';
            
            
        }
    
        .contatos {
    
            color: white;
            gap: 20px;
            
        }
    
        .contatos > h2 {
    
            color: white;
            font-family: 'noto sans', 'sans-serif';
            
        }
    
        .contatos > ul > li > a{
    
            color: rgb(201, 201, 201);
            text-decoration: none;
            font-family: 'poppins', 'sans-serif';
            position: absolute;
            transform: translate(7px,4px);
            font-size: 15px;
            
        }
    
        .contatos > ul > li > i{
    
            color: rgb(255, 255, 255);
            font-size: 30px;
        }
    
        .contatos > h2::after {
    
            content: '';
            background-color: #58ff8a;
            width: 50%;
            height: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 30px;
            
        }
    
        .contatos > ul > li > i#email {
    
            color: rgb(255, 255, 255);
            font-size: 25px;
            margin-top: 5px;
        }
        
     

}
