
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins:wght@300&display=swap');

 * {
    padding: 0;
    margin: 0;
    transition: 1s;
}


header {
    border-bottom: solid 5px #58ff8a;
    box-shadow: 0px 0px 20px #58ff8a;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'poppins', sans-serif;
}

.logo > a > img {
    width: 150px;
    height: 150px;
    margin-right: 300px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}


.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}


.nav-link:hover::after {
    
    position: absolute;
    content: '';
    width: 3%;
    background-color: #58ff8a;
    height: 5px;
    display: block;
    transform: translate(2px, -5px);
    border-radius: 30px;
    margin-top: 5px;
    transition: 1s;
}


.login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #0187a7;
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}


.linha {

    border-bottom: solid 2px #2b134b;
    width: 70vw;
    display: block;
    margin: 0px auto;
    height: 100px;
    opacity: 0.5;
}

footer {

    background-color: #000000;
    width: 100%;
    height: 200px;
    margin-top: 50px;
    border-top: solid 5px #3dff77;
    box-shadow: 0px 0px 30px #58ff8a;
    display: flex;
    justify-content: center;
    margin: 0px auto;
    gap: 50px;

}

footer > nav > h2 {

    color: rgb(255, 255, 255);
    font-family: 'noto sans', 'sans-serif';
    margin-bottom: 20px;
    margin-top: 20px;

}

footer > nav > h2::after {

    content: '';
    background-color: #58ff8a;
    width: 25%;
    height: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    
}


.navegaçao-secundaria > li > a {

    color: rgb(202, 202, 202);
    text-decoration: none;
    margin-top: 30px;
}

.navegaçao-secundaria > li > a:hover {

    text-decoration: underline #58ff8a;
}

.navegaçao-secundaria > li {

    color: white;
    text-decoration: none;
    margin-top: 5px;
    font-family: 'poppins', 'sans-serif';
    list-style: none;
    
    
}

.contatos {

    color: white;
    gap: 20px;
    
}

.contatos > ul {

    list-style: none;

}

.contatos > h2 {

    color: white;
    font-family: 'noto sans', 'sans-serif';
    margin-bottom: 20px;
    margin-top: 20px;
    
}

.contatos > ul > li > a{

    color: rgb(201, 201, 201);
    text-decoration: none;
    font-family: 'poppins', 'sans-serif';
    position: absolute;
    transform: translate(7px,4px);
    font-size: 15px;
    list-style: none;
    
}

.contatos > ul > li > i{

    color: rgb(255, 255, 255);
    font-size: 30px;
}

.contatos > h2::after {

    content: '';
    background-color: #58ff8a;
    width: 50%;
    height: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    
}

.contatos > ul > li > i#email {

    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-top: 7px;
}

.icone {

    
    font-size: 30px;
    position: relative;
    left: 70%;
    cursor: pointer;
    color: rgb(255, 255, 255);
    width: 10px;

}

.sobremim {

display: block;
margin-left: 20px;
margin: 0px auto;
width: 50%;
text-align: center;
margin-bottom: 50px;
margin-top: 50px;
background-color: #f1f1f1;
border-radius: 20px;
box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.521);
padding: 20px;
animation: inicializar .7s forwards;

}

.quemsou > h1 {

    margin-top: 50px;
    margin-bottom: 40px;
    font-family: 'noto sans', 'sans-serif';
}

.quemsou > p {

    font-family: 'poppins', 'sans-serif';
    text-align: justify;

}

.quemsou > h1::after {

    position: absolute;
    content: '';
    width: 15%;
    background-color: #2b134b;
    height: 5px;
    display: flex;
    transform: translate(350px, -5px);
    border-radius: 30px;
    margin-top: 5px;

}

.gosto > h1 {

    margin-bottom: 40px;
    font-family: 'noto sans', 'sans-serif';
    margin-top: 40px;
}

.gosto > p {

    font-family: 'poppins', 'sans-serif';
    text-align: justify;

}

.gosto > h1::after {

    position: absolute;
    content: '';
    width: 32%;
    background-color: #2b134b;
    height: 5px;
    display: block;
    transform: translate(277px, -5px);
    border-radius: 30px;
    margin-top: 5px;

}

.educaçao > h1 {

    margin-bottom: 40px;
    font-family: 'noto sans', 'sans-serif';
    margin-top: 40px;
}

.educaçao > p {

    font-family: 'poppins', 'sans-serif';
    text-align: justify;

}

.educaçao > h1::after {

    position: absolute;
    content: '';
    width: 14%;
    background-color: #2b134b;
    height: 5px;
    display: block;
    transform: translate(355px, -5px);
    border-radius: 30px;
    margin-top: 5px;

}

.educaçao > p > a {

    text-decoration: none;

}

.educaçao > p > a:hover {

    text-decoration: underline;

}

.escolhi > h1 {

    margin-bottom: 40px;
    font-family: 'noto sans', 'sans-serif';
    margin-top: 40px;
}

.escolhi > p {

    font-family: 'poppins', 'sans-serif';
    text-align: justify;

}

.escolhi > h1::after {

    position: absolute;
    content: '';
    width: 53%;
    background-color: #2b134b;
    height: 5px;
    display: block;
    transform: translate(180px, -5px);
    border-radius: 30px;
    margin-top: 5px;

}

.profissional > h1 {

    margin-bottom: 40px;
    font-family: 'noto sans', 'sans-serif';
    margin-top: 40px;
}

.profissional > p {
    margin-bottom: 50px;
    font-family: 'poppins', 'sans-serif';
    text-align: justify;
}


.profissional > h1::after {

    position: absolute;
    content: '';
    width: 35%;
    background-color: #2b134b;
    height: 5px;
    display: block;
    transform: translate(265px, -5px);
    border-radius: 30px;
    margin-top: 5px;

}



* {
    padding: 0;
    margin: 0;
    transition: 1s;
}

.dark#body {

    background-color: #000000;

}


.dark#header {
    border-bottom: solid 2px #58ff8a;
    box-shadow: 0px 0px 20px #58ff8a;
    background-color: #161616;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'poppins', sans-serif;
}

    

@keyframes inicializar {
    from {

        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

    to {

        opacity: 1;
        transform: translate3d(0, 0, 0);

    }

}


.dark#footer {

    background-color: #161616;
    width: 100%;
    height: 200px;
    margin-top: 50px;
    border-top: solid 2px #3dff77;
    box-shadow: 0px 0px 20px #58ff8a;
    display: flex;
    justify-content: center;
    margin: 0px auto;
    gap: 50px;
}

.dark#sobremim {

    display: block;
    margin-left: 20px;
    margin: 0px auto;
    width: 50%;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    background-color: #161616;
    border-radius: 20px;
    box-shadow: 1px 2px 5px #58ff8a;
    padding: 20px;
    animation: inicializar .7s forwards;
    
    }
    
    .dark#quemsou > h1 {
    
        margin-top: 50px;
        margin-bottom: 40px;
        font-family: 'noto sans', 'sans-serif';
        color: white;
    }
    
    .dark#quemsou > p {
    
        font-family: 'poppins', 'sans-serif';
        color: white;
    
    }
    
    .dark#quemsou > h1::after {
    
        position: absolute;
        content: '';
        width: 15%;
        background-color: #58ff8a;;
        height: 5px;
        display: flex;
        transform: translate(350px, -5px);
        border-radius: 30px;
        margin-top: 5px;
    
    }
    
    .dark#gosto > h1 {
    
        margin-bottom: 40px;
        font-family: 'noto sans', 'sans-serif';
        margin-top: 40px;
        color: white;
    }
    
    .dark#gosto > p {
    
        font-family: 'poppins', 'sans-serif';
        color: white;
    
    }
    
    .dark#gosto > h1::after {
    
        position: absolute;
        content: '';
        width: 32%;
        background-color: #58ff8a;;
        height: 5px;
        display: block;
        transform: translate(277px, -5px);
        border-radius: 30px;
        margin-top: 5px;
    
    }
    
    .dark#educaçao > h1 {
    
        margin-bottom: 40px;
        font-family: 'noto sans', 'sans-serif';
        margin-top: 40px;
        color: white;
    }
    
    .dark#educaçao > p {
    
        font-family: 'poppins', 'sans-serif';
        color: white;
    
    }
    
    .dark#educaçao > h1::after {
    
        position: absolute;
        content: '';
        width: 14%;
        background-color: #58ff8a;
        height: 5px;
        display: block;
        transform: translate(355px, -5px);
        border-radius: 30px;
        margin-top: 5px;
    
    }
    
    .dark#escolhi > h1 {
    
        margin-bottom: 40px;
        font-family: 'noto sans', 'sans-serif';
        margin-top: 40px;
        color: white;
    }
    
    .dark#escolhi > p {
    
        font-family: 'poppins', 'sans-serif';
        color: white;
    }
    
    .dark#escolhi > h1::after {
    
        position: absolute;
        content: '';
        width: 53%;
        background-color: #58ff8a;
        height: 5px;
        display: block;
        transform: translate(180px, -5px);
        border-radius: 30px;
        margin-top: 5px;
    
    }
    
    .dark#profissional > h1 {
    
        margin-bottom: 40px;
        font-family: 'noto sans', 'sans-serif';
        margin-top: 40px;
        color: white;
    }
    
    .dark#profissional > p {
        margin-bottom: 50px;
        font-family: 'poppins', 'sans-serif';
        color: white;
    }
    
    
    .dark#profissional > h1::after {
    
        position: absolute;
        content: '';
        width: 35%;
        background-color: #58ff8a;
        height: 5px;
        display: block;
        transform: translate(265px, -5px);
        border-radius: 30px;
        margin-top: 5px;
    
    }

    .dark#educaçao > p > a {

        text-decoration: none;
        color: #5eff8e;
    
    }
    
    .dark#educaçao > p > a:hover {
    
        text-decoration: underline;
    
    }

    @media screen and (max-width: 730px) {

    body {

        overflow-x: hidden;
    }

    .sobremim {

        width: 80vw;
        margin-left: 8px;

    }        

    .quemsou > h1::after {

        position: absolute;
        content: '';
        width: 35%;
        background-color: #2b134b;
        height: 5px;
        display: flex;
        transform: translate(100px, -5px);
        border-radius: 30px;
        margin-top: 5px;
    
    }

    .gosto > h1::after {

        position: absolute;
        content: '';
        width: 75%;
        background-color: #2b134b;
        height: 5px;
        display: flex;
        transform: translate(25px, -5px);
        border-radius: 30px;
        margin-top: 5px;
    
    }

    .educaçao > h1::after {

        position: absolute;
        content: '';
        width: 35%;
        background-color: #2b134b;
        height: 5px;
        display: flex;
        transform: translate(100px, -5px);
        border-radius: 30px;
        margin-top: 5px;
        
        }
    

    .escolhi > h1::after {

        position: absolute;
        content: '';
        width: 55%;
        background-color: #2b134b;
        height: 5px;
        display: flex;
        transform: translate(60px, -5px);
        border-radius: 30px;
        margin-top: 5px;
    
    }

    .profissional > h1::after {

        position: absolute;
        content: '';
        width: 82%;
        background-color: #2b134b;
        height: 5px;
        display: flex;
        transform: translate(15px, -5px);
        border-radius: 30px;
        margin-top: 5px;
    
    }

    .dark#sobremim {

        width: 80vw;
        margin-left: 8px;

    }        

    .dark#quemsou > h1::after {

        position: absolute;
        content: '';
        width: 35%;
        background-color: #58ff8a;
        height: 5px;
        display: flex;
        transform: translate(100px, -5px);
        border-radius: 30px;
        margin-top: 5px;
    
    }

    .dark#gosto > h1::after {

        position: absolute;
        content: '';
        width: 75%;
        background-color: #58ff8a;
        height: 5px;
        display: flex;
        transform: translate(25px, -5px);
        border-radius: 30px;
        margin-top: 5px;
    
    }

    .dark#educaçao > h1::after {

        position: absolute;
        content: '';
        width: 35%;
        background-color: #58ff8a;
        height: 5px;
        display: flex;
        transform: translate(100px, -5px);
        border-radius: 30px;
        margin-top: 5px;
        
        }
    

    .dark#escolhi > h1::after {

        position: absolute;
        content: '';
        width: 55%;
        background-color: #58ff8a;
        height: 5px;
        display: flex;
        transform: translate(60px, -5px);
        border-radius: 30px;
        margin-top: 5px;
    
    }

    .dark#profissional > h1::after {

        position: absolute;
        content: '';
        width: 82%;
        background-color: #58ff8a;
        height: 5px;
        display: flex;
        transform: translate(15px, -5px);
        border-radius: 30px;
        margin-top: 5px;
    
    }
}